<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link  href="{{url_for('static', filename='style.css')}}" rel="stylesheet" type="text/css"/>
    <script src="https://demo.yubico.com/js/u2f-api.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="{{url_for('static', filename='js.js')}}"></script>
</head>
<body>
    <nav class="nav has-shadow">
        <div class="container">

            <div class="nav-left">
                <div class="nav-item">
                    <b class="title">
                        Секретные документы
                    </b>
                </div>
            </div>

            <div class="nav-center">

            </div>

            <span class="nav-toggle">
                <span></span>
                <span></span>
                <span></span>
            </span>

            <div class="nav-right nav-menu">
                <form class="nav-item"
                      method="get"
                      action="/logout"
                >
                    <button class="button">
                        Выход
                    </button>
                </form>
            </div>
        </div>
    </nav>

    <div class="container">
        <div class="section">
            {% block content %}
            
            {% endblock content %}
        </div>
    </div>
</body>
</html>