{% extends "base.html" %}

{% block content %}
<div class="column is-half is-offset-one-quarter">
    <h3 class="title has-text-centered">
        <b>
            Вход в систему
        </b>
    </h3>
    <div class="column is-8 is-offset-2 box">
        <label class="label">Имя</label>
        <p class="control">
            <input id="login_username"
                   class="input" 
                   type="text" 
                   placeholder="Введите имя">
        </p>
        <label class="label">Пароль</label>
        <p class="control">
            <input id="login_password"
                   class="input" 
                   type="password" 
                   placeholder="Введите пороль">
        </p>
        <div class="control is-grouped">
            <p class="control">
                <button id="login_button" class="button is-primary">Вход</button>
            </p>
        </div>
    </div>
</div>

{% endblock content %}